body{
    margin:0;
    padding:0;
    background-color: #e8e0e0;
}
#jobname{
    top:0;
    margin: 20px auto 10px auto;
    margin-top: 70px;
    width: 90%;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
        font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.meSelf{
    background:rgb(204, 207, 204);
    margin: 10px;
    width: 100%;
    color:#000000;
}
.notMes{
    background:#FFF;
    color:#000;
}
.msgText
{
    margin-left: 35%;
    width: 50%;
}
.outer{
    width:100%;
    margin-top:10px;
    display:flex;
}
#inner{
    padding:10px;
    box-sizing: border-box;
    /* border-radius:10px; */
}

.input-container {
    display: flex;
    justify-content: center;
}

.textMsg {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
}

.submBtn {
    width: 60px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 15px;
}
.submBtn:hover{
    background-color: green;
}

#dltMsg
{
    border-radius: 50px;
    height: 25px;
}

.top-left-button {
    position: absolute;
    top: 10px; 
    left: 10px; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-left-button:hover {
    background-color: #0056b3; 
}

.jobName
{
    height: 50px;
    width: 200px;
    margin-left: 650px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.jobId
{
    height: 50px;
    width: 200px;
    margin-left: 650px;
    margin-bottom: 10px;
}
.jobDes
{
    height: 50px;
    width: 200px;
    margin-left: 650px;
    margin-bottom: 10px;
}
.btnSub
{
    height: 50px;
    width: 205px;
    margin-left: -30px;
}

#nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #nav {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
  }
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  span.gradient {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
  
  h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
  }
  
  h1.logo a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }
  
  a:link, a:visited, a:active {
    text-decoration: none;
    color: #f857a8;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: #f857a8;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
  
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
  
    .nav-link {
      border-top: none;
    }
  
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
  
    .btn-nav {
      display: none;
    }
  
    .nav a:link.active, a:visited.active, a:active.active {
      background: #f857a8;
      background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
      background: linear-gradient(45deg, #f857a8, #ff5858);
      color: #fff;
    }
  
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
  
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
  
    a:hover.nav-link:not(.active) {
      color: #444;
      background: #ddd;
      background: linear-gradient(45deg, #fff, #ddd);
    }
  }
  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 5em;
    }
  }